<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment = "script-app">
<!--    <script src="/assets/js/jquery-3.6.0.min.js"></script>-->
    <script src="/assets/js/jquery.number.js"></script>
<!--    <script src="/assets/js/jquery.validate-1.19.3.min.js"></script>-->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/iziToast-1.4.0.js"></script>
    <script src="/assets/js/sweetalert2.min.js"></script>
    <script src="/assets/js/app.js"></script>

<!--    <script src="/assets/js/jquery-3.6.0.min.js"></script>-->
<!--    <script src="/assets/js/jquery.validate.min.js"></script>-->
<!--    <script src="/assets/js/bootstrap.bundle.min.js"></script>-->
<!--    <script src="/assets/iziToast/v1.4/iziToast.min.js"></script>-->
<!--    <script src = "/assets/sweetalert/v2/sweetalert.js"> </script>-->
</th:block>

<th:block th:fragment="script-script">

    <script src="/assets/vendors/scripts/core.js"></script>
    <script src="/assets/vendors/scripts/script.min.js"></script>
    <script src="/assets/vendors/scripts/process.js"></script>
    <script src="/assets/vendors/scripts/layout-settings.js"></script>
    <script src="/assets/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="/assets/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <!-- buttons for Export datatable -->
    <script src="/assets/src/plugins/datatables/js/dataTables.buttons.min.js"></script>
    <script src="/assets/src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="/assets/src/plugins/datatables/js/buttons.print.min.js"></script>
    <script src="/assets/src/plugins/datatables/js/buttons.html5.min.js"></script>
    <script src="/assets/src/plugins/datatables/js/buttons.flash.min.js"></script>
    <script src="/assets/src/plugins/datatables/js/pdfmake.min.js"></script>
    <script src="/assets/src/plugins/datatables/js/vfs_fonts.js"></script>
    <!-- Datatable Setting js -->
    <script src="/assets/vendors/scripts/datatable-setting.js"></script>

</th:block>
<th:block th:fragment="script-list-user">
    <!-- js -->
    <script src="/assets/vendors/scripts/core.js"></script>
    <script src="/assets/vendors/scripts/script.min.js"></script>
    <script src="/assets/vendors/scripts/process.js"></script>
    <script src="/assets/vendors/scripts/layout-settings.js"></script>

    <!-- Datatable Setting js -->
    <script src="/assets/vendors/scripts/datatable-setting.js"></script>
    <script src="/assets/js/app.js"></script>

</th:block>

