<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="pre-loader">
    <div class="pre-loader">
        <div class="pre-loader-box">
            <div class="loader-logo"><img width="250" height="250" src="/assets/src/images/vip/Logo.png" alt=""></div>
            <div class='loader-progress' id="progress_div">
                <div class='bar' id='bar1'></div>
            </div>
            <div class='percent' id='percent1'>0%</div>
            <div class="loading-text">
                Loading...
            </div>
        </div>
    </div>
</th:block>