<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="modal_update_account">
    <div id="modalUpdateAccount" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Account Information</h5>
                    <i type="button" class="icon-copy fa fa-close btn-close" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close"></i>
                    <!--                    <i class="icon-copy fa fa-close" aria-hidden="true"></i>-->
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide"></div>

                    <form id="frmUpdateAccount" method="post">
                        <fieldset class="row g-3">
                            <div class="col-md-12">
                                <label class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="fullNameUp" name="fullNameUp" placeholder="Enter full name"/>
                            </div>
<!--                            <div class="col-md-12">-->
<!--                                <label class="form-label">User Name</label>-->
<!--                                <input type="text" class="form-control" id="userNameUp" name="userNameUp" placeholder="Enter user name"/>-->
<!--                            </div>-->
<!--                            <div class="col-md-12">-->
<!--                                <label class="form-label">Password</label>-->
<!--                                <input type="password" class="form-control" id="passwordUp" name="passwordUp" placeholder="Enter password"/>-->
<!--                            </div>-->
                            <div class="col-md-12 mt-3">
                                <label for="genderUp">Gender</label>
                                <select class="form-select form-control" id="genderUp" name="genderUp">

                                </select>
                            </div>
                            <div class="col-md-12 mt-3">
                                <label for = "urlImageUp" class="form-label">Image</label>
<!--                                <img src="/assets/src/images/vip/cross.png" alt="">-->
                                <input type="text" class="form-control" id="urlImageUp" name="urlImageUp" placeholder="Enter url image">
                            </div>
                            <div class="col-md-12 mt-3">
                                <label for="phoneUp" class="form-label">Phone</label>
                                <input class="form-control" type="text"  id="phoneUp" name="phoneUp" placeholder="Enter phone number"/>
                            </div>
                            <div class="col-md-12 mt-3">
                                <label for="emailUp" class="form-label">Email</label>
                                <input class="form-control" type="text"  id="emailUp" name="emailUp" placeholder="Enter email"/>
                            </div>
                            <div class="col-md-12 mt-3">
                                <label for="addressUp" class="form-label">Address</label>
                                <input class="form-control" type="text"  id="addressUp" name="addressUp" placeholder="Enter address"/>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnUpdateAccount" class="btn btn-outline-primary">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Update Account Information
                    </button>
                    <button type="button" class="btn btn-secondary btn-close" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</th:block>
